* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eee9e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #f7f0eb;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: none;
    background-color: #da9f5b;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #3f2a20;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5b3e29;
}
